*{ 
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
}
.header_top {
  
    padding: 4px 0;
    width: 100%;
    background-color:rgba(209, 233, 235);  
    position: fixed;
    z-index: 2;
}
.nav-item{
    /* background-color: royalblue; */
    color: rgb(0, 0, 0);
    font-family: 'IM FELL DW Pica SC';
    font-weight: 400;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.btn_block {
    /* border: 1px solid black; */
    text-align: right;
    padding: 0.5rem 1rem !important;
    /* background-color:midnightblue; */
}
.srv-txtm { 
 width: 100%;
 padding: 2% 0% 1% 0%; 
 background-image: url("../img/Vector1.png") ;  
}
.f1 { 
    font-weight: 400;
    font-size: 33px;
    line-height: 38px;
    color: #000000;
    font-family: 'Graduate';
}
.f2 {
    color: rgb(0, 0, 0);
    background: none;
    font-weight: 400;
    font-size: 24px;
    font-family: 'grenze';
    font-style: normal;
    /* line-height:60px; */
}
.btnclr {
     background: rgba(12, 0, 148, 0.75);
    box-shadow: 8px 8px 9px -3px rgba(64, 120, 125, 0.86);
    border-radius: 36px;
    font-family: 'Girassol';
    font-size: 35px;
    line-height: 40px;
    color: white;   
}
.btn-add{
    width: 50px;
height: 40px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.52);
}
.btn-srt{
background: linear-gradient(180deg, #483FAE 0%, #4D8CD3 100%);
box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.87);
border-radius: 22px;
font-family: 'hahmlet';
font-size: 50px;
line-height: 40px;
color: white;   
}
.center {
    text-align: center;
}
.boxpic {background: #C1C8D2;
    /* border: 3px solid #0C0094; */
    box-shadow: 3px 4px 13px rgba(0, 0, 0, 0.4);
    border-radius: 54px;
    margin: 4%;
}
.tl {
    font-size: 33px;
    font-weight: 400;
    font-size: 47px;
    line-height: 59px;
    font-family: 'IM FELL DW Pica SC';
    } 
 .w100 {
    width: 100%;
 }  
   @media only screen and (max-width: 1200px) {
    .img_bar {
       width: 42%;
    }
   }

.clr{
    background-color:rgba(209, 233, 235);  
}
.b{
    
    font-size: 30px;  
}

.bg{
    background-image: url("../img/Vector.png") ;
    background-repeat: no-repeat;
}

.pad {
    padding: 0% 10%;
}
.bg-light {
    background-color: #ffffff !important;
}

.ptt{
/* {padding-top: 7rem} */}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(68, 0, 255, 0.7);
}

.ps {
    padding-top: 2rem;
}

@media only screen and (max-width: 992px) {
    .b {
       font-size: 20px;
    }
   }

   @media only screen and (max-width: 767px) {
    .b {
       font-size: 15px;
    }
    .ps {
        padding-top: 0%;
    }

   }
    @media only screen and (max-width: 205px) {
    .ptt {
      padding-top: 3rem;
    }
   }

   @media only screen and (max-width: 1200px) {
    .b {
       font-size: 20px;
    }
   }
  